# FollowTheWorldCup.com Frontend Environment Variables Template
VITE_API_URL=http://localhost:8005/api/v1

# Donation Integration
# Expose the Kreosus tip channel URL. Falls back to original if left unset.
VITE_KREOSUS_URL="https://kreosus.com/httpsgithubcomozzencben"
